doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous")
        title Document
        style
            include ./style/style.css
    body 
        header(class="navbar_")
            div(class="nav_padding")
                a(href="/" class="navbar_home")
                    div(class="navbar_logo_cont")
                        img(src="/img/logo.png", alt="logo" class="navbar_logo")
                    h3(class="vertical_center") Reirbdit
                div(class="nav-elements")
                    h3(class="vertical_center hello_") Hello #{login}
                    a(href="/profil" class="vertical_center" style="margin-right : 1rem;")
                        img(src="/img/profil_icon.png", alt="profil_icon" class="profil_icon")
                    form(method="post" action="/disconnect" name="logout" class="vertical_center")
                        input(type="submit" name="logout_button" value="Déconnexion" class="form_button")
        main(class="container")
            form(action="/edit_com_c/"+comment.id method="post" class="new_art_cont")
                textarea(name="edit_com_content" cols="30" rows="10" id="edit_com_content" placeholder="Commentaire" class="com_content add_com_text").
                    #{comment.content} 
                input(type="submit" name="edit_comment_post" id="edit_comment_post" class="form_button")

        script.
            let n_button = document.getElementById('edit_comment_post')

            n_button.addEventListener('click', function(){
                if(!(document.getElementById("edit_com_content").value)){
                    alert("Les champs n'ont pas tous été remplis.")
                }
            })