<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reirbdit</title>
    <link rel ="stylesheet" href="style/style.css">
</head>
<body>
    <header>
        <nav class = "Container">
            <div class = "row-items">
                <div class = "col_title">
                    <h4 class = "title_eirb"> Redditeirb</h4>
                </div>
            <div class = "Col_Log_items">
                <ul class = "nav-pills">
                    <li class = "navitem">
                        <a class = "navactive" href=""> Log in  </a>
                    </li>
                    <li class = "navitem">
                        <a class = "navactive" href=""> Log Out </a>
                    </li>
                </ul>
            </div>
            </div>
        </nav>
    </header>
    <div class="Home_Wrapper_1i9fh60">
        <main class="MainSection_HomeMainSection">
            <ul class="Component_list_qu9h78">
                <li class="Item_1bll465">
                    <div class="Post__wrapper_m6c2td-0">
                        <div class="Component_wrapper_1hoq7bq">
                            <button class="Button_PostVoteUpButton">
                            </button>
                            <span> 200 </span>
                            <button class="Button_PostVoteDownButton">
                            </button>
                        </div>
                        <div class="Content_Wrapper_6cw1cd">
                            <div class="Title__Wrapper_cyPecq">
                                <a href=""> C1 Chealsea</a>
                            </div>
                            <div class="Preview__PostContent_Preview_bVgRtl">
                                Thiago Silva (Chelsea) : « Paris a fait son choix de me laisser partir et de dégager Tuchel »
                            </div>
                            <div class="Detail_Wrapper_gBkGwr">
                                <a href=""> 
                                    230 comments
                                </a>
                                <span> by </span>
                                <a class="Author_style_cKlNN" href="">
                                    Bill_yacine
                                </a>
                                <span> 2Y ago</span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </main>
    </div>
</body>
</html>